/*
*= require bootstrap/4.6.0/css/bootstrap.css
*= require font-awesome/4.4.0/css/font-awesome.css
*= require bootstrap-datepicker/1.9/css/bootstrap-datepicker
*= require modal-fullscreen-bootstrap-2.3.2/css/bootstrap-modal-fullscreen
*= require select2/4.0.3/css/select2
*= require jquery.validationEngine/3.1.0/validationEngine.jquery.css
*= require leaflet-manifest.css
*= require forms
*= require feature
*/

pre#model-display {
    outline: 1px solid #ccc !important;
    padding: 5px;
    margin: 5px;
}
pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}

.list {
    border-right: 1px solid #808080FF;
}

span.title {
    text-overflow: ellipsis;
}
body {
    background-color:#fffef7 !important;
}
input, button, select, optgroup, textarea {
    margin-bottom: 8px !important;
}
textarea {
    border: 1px solid #cccccc;
}

.datepicker {
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
}
.datepicker td, .datepicker th {
    text-align: center;
    width: 30px !important;
    height: 25px !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
}

.col-sm-3.list ul.unstyled {
    list-style-type: none;
    padding-left: 0px;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
}

.customSpecialSelect {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    height: 29px !important;
}

span.add-on.open-datepicker.input-group-text {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
}

.btn {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    background-image: none;
    background-repeat: no-repeat;
    padding: 5px 10px;
}

span#basic-addon1 {
    height: 32px !important;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
}

.btn.edit-feature {
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 500px;
    margin-bottom: 10px;
}

feature {
    width: 500px !important;
    height: 500px !important;
}

.modal {
    padding: 0 !important; // override inline padding-right added from js
}
.modal .modal-dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    margin: 0;
}
.modal .modal-content {
    height: 100%;
    border: 0;
    border-radius: 0;
}
.modal .modal-body {
    overflow-y: auto;
}
